body {
    font-family: Roboto, sans-serif;
    height: 100vh;
    margin: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* max-width: 1280px; */ /* If we want to cull the background colours at a certain width */
}

/* Header - TopBar, Hero */

.header {
    background-color: #1F2937;
}
.topbar {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: auto;
    padding: 16px 0px;
    max-width: 960px;
}
.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}
.header-links {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-left: auto;
}
.header-links li {
    display: inline;
    font-size: 18px;
    margin-left: 10px;
}
.header-links a {
    text-decoration: none;
    color: #E5E7EB;
}
.header-links a:hover {
    text-decoration: none;
    color: #ee9208;
}
.header-content {
    display: flex;
    margin: auto;
    padding: 100px 0px;
    max-width: 960px;
    gap: 50px;
}
.title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}
.title-subtext {
    color: #F9FAF8;
    font-size: 18px;
    margin: 6px auto;
}
.header-content button {
    border: none;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    margin: 6px auto;
    padding: 6px 24px;
    font-size: 14px;
    font-weight: 600;
}
.header-content button:hover {
    background-color: #609dff;
    color: rgb(255, 255, 255);
}
.header-content button:active {
    background-color: #154aa0;
    color: rgb(172, 172, 172);
}
.hero-image {
    width: 940px;
    height: 230px;
    background-color: #5d6977;
    color: white;
    text-align: center;
    line-height: 230px;
    font-size: 11px;
}


/* Footer - Copyright Text */

.footer{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}
.copyright {
    color: #F9FAF8;
    margin: auto;
    padding: 20px 0px;
    max-width: 960px;
}