body {
    font-family: sans-serif;
    height: 100vh;
    margin: auto;
    background-color: black;
}


.header {
    background-color: #1F2937;
}
.topbar {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: auto;
    padding: 10px 130px;
    max-width: 650px;
}
.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}
.header-links {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-left: auto;
}
.header-links li {
    display: inline;
    font-size: 18px;
    margin-left: 10px;
}
.header-links a {
    text-decoration: none;
    color: #E5E7EB;
}
.header-links a:hover {
    text-decoration: none;
    color: #ee9208;
}
.hero {
    color: #F9FAF8;
    margin: 80px auto;
    padding: 10px 130px;
    max-width: 650px;
}








.footer{
    display: flex;
    align-self: flex-end;
}